body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  background-color: darkgrey;
}

#number {
  font-size: 20vh;
  color: darkred;
  margin-top: 20vh;
  margin-bottom: 10vh;
}

#button {
  background-color: black;
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 10px;
  width: 50vW;
  height: 10vh;
  font-size: 5vh;
}
#button:disabled {
  opacity: 0.5;
}

#lost-container {
  position: absolute;
  top: 0px;
  width: 100%;
}

#lost {
  font-size: 12vh;
  text-align: center;
  color: red;
}

#next {
  color: darkblue;
  margin-top: 5vh;
}

#victory {
  font-size: 2rem;
  color: green;
}

#yesno button {
  margin-top: 5vh;
  width: 30%;
  height: 10vh;
  background-color: brown;
  border: 0;
  border-radius: 10px;
  font-size: 1.3rem;
  color: white;
}